
.div-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }


.error{
  color:red;
  text-decoration: solid;
}

.ok{
  color:darkgreen;
  text-decoration: solid;
}

td {
  background-color: #E4F5D4;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: lighter;
}